<section class="hero-section">
    <div class="container d-flex flex-column flex-lg-row align-items-center justify-content-between">
        <div class="text-content">
            <h1 class="hvr-pop">Welcome Web Students!</h1>
            <p class="hvr-float">Hand-picked Instructor and expertly crafted courses, designed for the modern students and entrepreneur.</p>
            <div class="d-flex gap-3 mt-3">
                <a href="#" class="btn btn-success hvr-shrink">Browse Courses</a>
                <a href="#" class="btn btn-outline-light hvr-bounce-to-right">Are You Instructor?</a>
            </div>
        </div>
        <div class="image-content">
            <img src="../img/hero-img.png" alt="Student" class="hvr-grow">
        </div>
    </div>
</section>

<section class="features-section">
    <div class="container d-flex flex-column flex-lg-row justify-content-center gap-5">
        <div class="feature hvr-float-shadow">
            <div class="icon hvr-pulse-grow">
                <i class=" bi-camera-video-fill"></i>
            </div>
            <div class="text">
                <h6>30,000 online courses</h6>
                <small>Enjoy a variety of fresh topics</small>
            </div>
        </div>
        <div class="feature hvr-float-shadow">
            <div class="icon hvr-pulse-grow">
                <i class=" bi-people-fill"></i>
            </div>
            <div class="text">
                <h6>Expert instruction</h6>
                <small>Find the right instructor for you</small>
            </div>
        </div>
        <div class="feature hvr-float-shadow">
            <div class="icon hvr-pulse-grow">
                <i class=" bi-clock-fill"></i>
            </div>
            <div class="text">
                <h6>Lifetime access</h6>
                <small>Learn on your schedule</small>
            </div>
        </div>
    </div>
</section>

<section class="recommended-section py-5">
    <div class="container position-relative">
        <h2 class="fw-bold mb-4">Recommended to you</h2>
        <div id="recommendedCarousel" class="carousel slide" data-bs-ride="carousel">
            <!-- Carousel Inner -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row g-3 scrollable-container">
                        <!-- Card 1 -->
                        <div class="col-6 col-md-3">
                            <div class="card shadow-sm border-0 hover-card">
                                <img src="../img/course-graphql.jpg" class="card-img-top" alt="GraphQL Banner" />
                                <div class="card-body">
                                    <h5 class="card-title">GraphQL</h5>
                                    <p class="card-text">GraphQL: introduction to graphQL for beginners</p>
                                    <div class="default-content">
                                        <div class="d-flex align-items-baseline justify-content-between">
                                            <div class="d-flex align-items-baseline">
                                                <i class="bi bi-clock me-2"></i>
                                                <small>2h 40m</small>
                                            </div>
                                            <div class="d-flex align-items-baseline">
                                                <i class="bi bi-bar-chart-fill me-2"></i>
                                                <small>Advance</small>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-baseline mt-3">
                                            <i class="bi bi-star-fill text-warning me-1"></i>
                                            <i class="bi bi-star-fill text-warning me-1"></i>
                                            <i class="bi bi-star-fill text-warning me-1"></i>
                                            <i class="bi bi-star-half text-warning me-1"></i>
                                            <i class="bi bi-star text-warning me-2"></i>
                                            <small>2.5 (1,500)</small>
                                        </div>
                                        <div class="d-flex align-items-baseline mt-3">
                                            <p class="mb-0 fw-bold">$500</p>
                                            <p class="mb-0 text-muted ms-2"><del>$600</del></p>
                                        </div>
                                    </div>
                                    <div class="expanded-content">
                                        <p class="mb-2">
                                            Dive deep into the world of GraphQL. Learn how to build efficient, flexible APIs with ease!
                                        </p>
                                        <p class="text-muted">
                                            Perfect for beginners, this course covers all the basics to get you started on your journey.
                                        </p>
                                    </div>
                                    <div class="d-flex align-items-center mt-3">
                                        <img src="../img/avatar-5.jpg" alt="Brooklyn Simmons" class="rounded-circle me-2" width="30" height="30">
                                        <small class="me-auto">Brooklyn Simmons</small>
                                        <div class="icon-wrapper">
                                            <i class="bi bi-bookmark"></i>
                                            <i class="bi bi-bookmark-fill"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Card 2 -->
                        <div class="col-6 col-md-3">
                            <div class="card shadow-sm border-0 hover-card">
                                <img src="../img/course-javascript.jpg" class="card-img-top" alt="JavaScript Banner" />
                                <div class="card-body">
                                    <h5 class="card-title">JavaScript</h5>
                                    <p class="card-text">A Complete Beginner’s Guide to JavaScript</p>
                                    <div class="default-content">
                                        <div class="d-flex align-items-baseline justify-content-between">
                                            <div class="d-flex align-items-baseline">
                                                <i class="bi bi-clock me-2"></i>
                                                <small>4h 10m</small>
                                            </div>
                                            <div class="d-flex align-items-baseline">
                                                <i class="bi bi-bar-chart me-2"></i>
                                                <small>Advance</small>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-baseline mt-3">
                                            <i class="bi bi-star-fill text-warning me-1"></i>
                                            <i class="bi bi-star-fill text-warning me-1"></i>
                                            <i class="bi bi-star-fill text-warning me-1"></i>
                                            <i class="bi bi-star-fill text-warning me-1"></i>
                                            <i class="bi bi-star text-warning me-2"></i>
                                            <small>3.5 (7,500)</small>
                                        </div>
                                        <div class="d-flex align-items-baseline mt-3">
                                            <p class="mb-0 fw-bold">$700</p>
                                            <p class="mb-0 text-muted ms-2"><del>$850</del></p>
                                        </div>
                                    </div>
                                    <div class="expanded-content">
                                        <p class="mb-2">
                                            Master JavaScript with this beginner-friendly course! Dive into the fundamentals and build your confidence.
                                        </p>
                                        <p class="text-muted">
                                            Ideal for aspiring developers and hobbyists who want to explore the world of JavaScript.
                                        </p>
                                    </div>
                                    <div class="d-flex align-items-center mt-3">
                                        <img src="../img/avatar-1.jpg" alt="Jenny Wilson" class="rounded-circle me-2" width="30" height="30">
                                        <small class="me-auto">Jenny Wilson</small>
                                        <div class="icon-wrapper">
                                            <i class="bi bi-bookmark"></i>
                                            <i class="bi bi-bookmark-fill"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Card 3 -->
                        <div class="col-6 col-md-3">
                            <div class="card shadow-sm border-0 hover-card">
                                <img src="../img/course-node.jpg" class="card-img-top" alt="Node.js Banner" />
                                <div class="card-body">
                                    <h5 class="card-title">Node.js</h5>
                                    <p class="card-text">Beginning Node.js, Express & MongoDB Development</p>
                                    <div class="default-content">
                                        <div class="d-flex align-items-baseline justify-content-between">
                                            <div class="d-flex align-items-baseline">
                                                <i class="bi bi-clock me-2"></i>
                                                <small>2h 00m</small>
                                            </div>
                                            <div class="d-flex align-items-baseline">
                                                <i class="bi bi-bar-chart me-2"></i>
                                                <small>Intermediate</small>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-baseline mt-3">
                                            <i class="bi bi-star-fill text-warning me-1"></i>
                                            <i class="bi bi-star-fill text-warning me-1"></i>
                                            <i class="bi bi-star-fill text-warning me-1"></i>
                                            <i class="bi bi-star-half text-warning me-1"></i>
                                            <i class="bi bi-star text-warning me-2"></i>
                                            <small>4.0 (15,700)</small>
                                        </div>
                                        <div class="d-flex align-items-baseline mt-3">
                                            <p class="mb-0 fw-bold">$800</p>
                                            <p class="mb-0 text-muted ms-2"><del>$950</del></p>
                                        </div>
                                    </div>
                                    <div class="expanded-content">
                                        <p class="mb-2">
                                            Learn the essentials of Node.js, Express, and MongoDB in this comprehensive beginner’s course.
                                        </p>
                                        <p class="text-muted">
                                            Build modern web applications and backend services with this practical guide.
                                        </p>
                                    </div>
                                    <div class="d-flex align-items-center mt-3">
                                        <img src="../img/avatar-3.jpg" alt="Sina Ray" class="rounded-circle me-2" width="30" height="30">
                                        <small class="me-auto">Sina Ray</small>
                                        <div class="icon-wrapper">
                                            <i class="bi bi-bookmark"></i>
                                            <i class="bi bi-bookmark-fill"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Card 4 -->
                        <div class="col-6 col-md-3">
                            <div class="card shadow-sm border-0 hover-card">
                                <img src="../img/course-laravel.jpg" class="card-img-top" alt="Laravel Banner" />
                                <div class="card-body">
                                    <h5 class="card-title">Laravel</h5>
                                    <p class="card-text">The Ultimate Beginner’s Guide to Learn</p>
                                    <div class="default-content">
                                        <div class="d-flex align-items-baseline justify-content-between">
                                            <div class="d-flex align-items-baseline">
                                                <i class="bi bi-clock me-2"></i>
                                                <small>1h 00m</small>
                                            </div>
                                            <div class="d-flex align-items-baseline">
                                                <i class="bi bi-bar-chart me-2"></i>
                                                <small>Beginner</small>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-baseline mt-3">
                                            <i class="bi bi-star-fill text-warning me-1"></i>
                                            <i class="bi bi-star-fill text-warning me-1"></i>
                                            <i class="bi bi-star-fill text-warning me-1"></i>
                                            <i class="bi bi-star-half text-warning me-1"></i>
                                            <i class="bi bi-star text-warning me-2"></i>
                                            <small>4.5 (2,500)</small>
                                        </div>
                                        <div class="d-flex align-items-baseline mt-3">
                                            <p class="mb-0 fw-bold">$170</p>
                                            <p class="mb-0 text-muted ms-2"><del>$220</del></p>
                                        </div>
                                    </div>
                                    <div class="expanded-content">
                                        <p class="mb-2">
                                            Master Laravel with this comprehensive guide for beginners! Build robust and scalable web applications.
                                        </p>
                                        <p class="text-muted">
                                            Perfect for developers looking to specialize in PHP frameworks.
                                        </p>
                                    </div>
                                    <div class="d-flex align-items-center mt-3">
                                        <img src="../img/avatar-7.jpg" alt="Sobo Rikhan" class="rounded-circle me-2" width="30" height="30">
                                        <small class="me-auto">Sobo Rikhan</small>
                                        <div class="icon-wrapper">
                                            <i class="bi bi-bookmark"></i>
                                            <i class="bi bi-bookmark-fill"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Carousel Controls -->
            <button class="carousel-control-prev custom-carousel-control" type="button" data-bs-target="#recommendedCarousel" data-bs-slide="prev">
                <i class="bi-chevron-left"></i>
            </button>
            <button class="carousel-control-next custom-carousel-control" type="button" data-bs-target="#recommendedCarousel" data-bs-slide="next">
                <i class="bi-chevron-right"></i>
            </button>
        </div>
    </div>
</section>

<section class="recommended-section py-5">
    <div class="container position-relative">
        <h2 class="fw-bold mb-4">Most Popular</h2>
        <div id="recommendedCarousel" class="carousel slide" data-bs-ride="carousel">
            <!-- Carousel Inner -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row g-3 scrollable-container">
                        <!-- Card 1 -->
                        <div class="col-6 col-md-3">
                            <div class="card shadow-sm border-0 hover-card">
                                <img src="../img/course-html.jpg" class="card-img-top" alt="HTML5 Banner" />
                                <div class="card-body">
                                    <h5 class="card-title">HTML5</h5>
                                    <p class="card-text">HTML Full Course - Build a Website Tutorial</p>
                                    <div class="default-content">
                                        <div class="d-flex align-items-baseline justify-content-between">
                                            <div class="d-flex align-items-baseline">
                                                <i class="bi bi-clock me-2"></i>
                                                <small>3h 16m</small>
                                            </div>
                                            <div class="d-flex align-items-baseline">
                                                <i class="bi bi-bar-chart me-2"></i>
                                                <small>Beginner</small>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-baseline mt-3">
                                            <i class="bi bi-star-fill text-warning me-1"></i>
                                            <i class="bi bi-star-fill text-warning me-1"></i>
                                            <i class="bi bi-star-fill text-warning me-1"></i>
                                            <i class="bi bi-star text-warning me-1"></i>
                                            <i class="bi bi-star text-warning me-2"></i>
                                            <small>3.0 (1,600)</small>
                                        </div>
                                        <div class="d-flex align-items-baseline mt-3">
                                            <p class="mb-0 fw-bold">$550</p>
                                            <p class="mb-0 text-muted ms-2"><del>$700</del></p>
                                        </div>
                                    </div>
                                    <div class="expanded-content">
                                        <p class="mb-2">
                                            Learn the basics of HTML5 and build modern websites with this beginner-friendly course.
                                        </p>
                                        <p class="text-muted">
                                            Ideal for aspiring web developers and designers looking to build their first project.
                                        </p>
                                    </div>
                                    <div class="d-flex align-items-center mt-3">
                                        <img src="../img/avatar-8.jpg" alt="Miston Wilson" class="rounded-circle me-2" width="30" height="30">
                                        <small class="me-auto">Miston Wilson</small>
                                        <div class="icon-wrapper">
                                            <i class="bi bi-bookmark"></i>
                                            <i class="bi bi-bookmark-fill"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Card 2 -->
                        <div class="col-6 col-md-3">
                            <div class="card shadow-sm border-0 hover-card">
                                <img src="../img/course-javascript.jpg" class="card-img-top" alt="JavaScript Banner" />
                                <div class="card-body">
                                    <h5 class="card-title">JavaScript</h5>
                                    <p class="card-text">A Complete Beginner’s Guide to JavaScript</p>
                                    <div class="default-content">
                                        <div class="d-flex align-items-baseline justify-content-between">
                                            <div class="d-flex align-items-baseline">
                                                <i class="bi bi-clock me-2"></i>
                                                <small>4h 10m</small>
                                            </div>
                                            <div class="d-flex align-items-baseline">
                                                <i class="bi bi-bar-chart me-2"></i>
                                                <small>Advance</small>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-baseline mt-3">
                                            <i class="bi bi-star-fill text-warning me-1"></i>
                                            <i class="bi bi-star-fill text-warning me-1"></i>
                                            <i class="bi bi-star-fill text-warning me-1"></i>
                                            <i class="bi bi-star-fill text-warning me-1"></i>
                                            <i class="bi bi-star text-warning me-2"></i>
                                            <small>3.5 (7,500)</small>
                                        </div>
                                        <div class="d-flex align-items-baseline mt-3">
                                            <p class="mb-0 fw-bold">$700</p>
                                            <p class="mb-0 text-muted ms-2"><del>$850</del></p>
                                        </div>
                                    </div>
                                    <div class="expanded-content">
                                        <p class="mb-2">
                                            Explore JavaScript fundamentals with this detailed course designed for complete beginners.
                                        </p>
                                        <p class="text-muted">
                                            Perfect for developers looking to add interactivity and functionality to their websites.
                                        </p>
                                    </div>
                                    <div class="d-flex align-items-center mt-3">
                                        <img src="../img/avatar-1.jpg" alt="Jenny Wilson" class="rounded-circle me-2" width="30" height="30">
                                        <small class="me-auto">Jenny Wilson</small>
                                        <div class="icon-wrapper">
                                            <i class="bi bi-bookmark"></i>
                                            <i class="bi bi-bookmark-fill"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Card 3 -->
                        <div class="col-6 col-md-3">
                            <div class="card shadow-sm border-0 hover-card">
                                <img src="../img/course-node.jpg" class="card-img-top" alt="Node.js Banner" />
                                <div class="card-body">
                                    <h5 class="card-title">Node.js</h5>
                                    <p class="card-text">Beginning Node.js, Express & MongoDB Development</p>
                                    <div class="default-content">
                                        <div class="d-flex align-items-baseline justify-content-between">
                                            <div class="d-flex align-items-baseline">
                                                <i class="bi bi-clock me-2"></i>
                                                <small>2h 00m</small>
                                            </div>
                                            <div class="d-flex align-items-baseline">
                                                <i class="bi bi-bar-chart me-2"></i>
                                                <small>Intermediate</small>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-baseline mt-3">
                                            <i class="bi bi-star-fill text-warning me-1"></i>
                                            <i class="bi bi-star-fill text-warning me-1"></i>
                                            <i class="bi bi-star-fill text-warning me-1"></i>
                                            <i class="bi bi-star-half text-warning me-1"></i>
                                            <i class="bi bi-star text-warning me-2"></i>
                                            <small>4.0 (15,700)</small>
                                        </div>
                                        <div class="d-flex align-items-baseline mt-3">
                                            <p class="mb-0 fw-bold">$800</p>
                                            <p class="mb-0 text-muted ms-2"><del>$950</del></p>
                                        </div>
                                    </div>
                                    <div class="expanded-content">
                                        <p class="mb-2">
                                            Learn Node.js and MongoDB with this beginner’s guide to full-stack development.
                                        </p>
                                        <p class="text-muted">
                                            Build scalable web applications and backend services with ease.
                                        </p>
                                    </div>
                                    <div class="d-flex align-items-center mt-3">
                                        <img src="../img/avatar-3.jpg" alt="Sina Ray" class="rounded-circle me-2" width="30" height="30">
                                        <small class="me-auto">Sina Ray</small>
                                        <div class="icon-wrapper">
                                            <i class="bi bi-bookmark"></i>
                                            <i class="bi bi-bookmark-fill"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Card 4 -->
                        <div class="col-6 col-md-3">
                            <div class="card shadow-sm border-0 hover-card">
                                <img src="../img/course-react.jpg" class="card-img-top" alt="React Banner" />
                                <div class="card-body">
                                    <h5 class="card-title">React</h5>
                                    <p class="card-text">How to easily create a website with React</p>
                                    <div class="default-content">
                                        <div class="d-flex align-items-baseline justify-content-between">
                                            <div class="d-flex align-items-baseline">
                                                <i class="bi bi-clock me-2"></i>
                                                <small>3h 55m</small>
                                            </div>
                                            <div class="d-flex align-items-baseline">
                                                <i class="bi bi-bar-chart me-2"></i>
                                                <small>Advance</small>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-baseline mt-3">
                                            <i class="bi bi-star-fill text-warning me-1"></i>
                                            <i class="bi bi-star-fill text-warning me-1"></i>
                                            <i class="bi bi-star-fill text-warning me-1"></i>
                                            <i class="bi bi-star-fill text-warning me-1"></i>
                                            <i class="bi bi-star-half text-warning me-2"></i>
                                            <small>4.5 (1,500)</small>
                                        </div>
                                        <div class="d-flex align-items-baseline mt-3">
                                            <p class="mb-0 fw-bold">$600</p>
                                            <p class="mb-0 text-muted ms-2"><del>$750</del></p>
                                        </div>
                                    </div>
                                    <div class="expanded-content">
                                        <p class="mb-2">
                                            Master React with this hands-on course! Learn to build responsive and dynamic websites.
                                        </p>
                                        <p class="text-muted">
                                            Perfect for frontend developers looking to advance their skills.
                                        </p>
                                    </div>
                                    <div class="d-flex align-items-center mt-3">
                                        <img src="../img/avatar-2.jpg" alt="April Noms" class="rounded-circle me-2" width="30" height="30">
                                        <small class="me-auto">April Noms</small>
                                        <div class="icon-wrapper">
                                            <i class="bi bi-bookmark"></i>
                                            <i class="bi bi-bookmark-fill"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>                      
                    </div>
                </div>
            </div>
            <!-- Carousel Controls -->
            <button class="carousel-control-prev custom-carousel-control" type="button" data-bs-target="#recommendedCarousel" data-bs-slide="prev">
                <i class="bi-chevron-left"></i>
            </button>
            <button class="carousel-control-next custom-carousel-control" type="button" data-bs-target="#recommendedCarousel" data-bs-slide="next">
                <i class="bi-chevron-right"></i>
            </button>
        </div>
    </div>
</section>

<section class="recommended-section py-5">
    <div class="container position-relative">
        <h2 class="fw-bold mb-4">Trending</h2>
        <div id="recommendedCarousel" class="carousel slide" data-bs-ride="carousel">
            <!-- Carousel Inner -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row g-3 scrollable-container">
                        <!-- Card 1 -->
                        <div class="col-6 col-md-3">
                            <div class="card shadow-sm border-0 hover-card">
                                <img src="../img/course-gatsby.jpg" class="card-img-top" alt="Gatsby Banner" />
                                <div class="card-body">
                                    <h5 class="card-title">Gatsby</h5>
                                    <p class="card-text">Revolutionize how you build the web</p>
                                    <div class="default-content">
                                        <div class="d-flex align-items-baseline justify-content-between">
                                            <div class="d-flex align-items-baseline">
                                                <i class="bi bi-clock me-2"></i>
                                                <small>1h 46m</small>
                                            </div>
                                            <div class="d-flex align-items-baseline">
                                                <i class="bi bi-bar-chart me-2"></i>
                                                <small>Intermediate</small>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-baseline mt-3">
                                            <i class="bi bi-star-fill text-warning me-1"></i>
                                            <i class="bi bi-star text-warning me-1"></i>
                                            <i class="bi bi-star text-warning me-1"></i>
                                            <i class="bi bi-star text-warning me-1"></i>
                                            <i class="bi bi-star text-warning me-2"></i>
                                            <small>2.0 (16,500)</small>
                                        </div>
                                        <div class="d-flex align-items-baseline mt-3">
                                            <p class="mb-0 fw-bold">$800</p>
                                            <p class="mb-0 text-muted ms-2"><del>$850</del></p>
                                        </div>
                                    </div>
                                    <div class="expanded-content">
                                        <p class="mb-2">
                                            Discover Gatsby's power to build high-performance websites quickly and efficiently.
                                        </p>
                                        <p class="text-muted">
                                            Ideal for web developers who want to explore static site generation.
                                        </p>
                                    </div>
                                    <div class="d-flex align-items-center mt-3">
                                        <img src="../img/avatar-5.jpg" alt="Jenny Wilson" class="rounded-circle me-2" width="30" height="30">
                                        <small class="me-auto">Jenny Wilson</small>
                                        <div class="icon-wrapper">
                                            <i class="bi bi-bookmark"></i>
                                            <i class="bi bi-bookmark-fill"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Card 2 -->
                        <div class="col-6 col-md-3">
                            <div class="card shadow-sm border-0 hover-card">
                                <img src="../img/course-html.jpg" class="card-img-top" alt="HTML5 Banner" />
                                <div class="card-body">
                                    <h5 class="card-title">HTML5</h5>
                                    <p class="card-text">HTML Full Course - Build a Website Tutorial</p>
                                    <div class="default-content">
                                        <div class="d-flex align-items-baseline justify-content-between">
                                            <div class="d-flex align-items-baseline">
                                                <i class="bi bi-clock me-2"></i>
                                                <small>3h 16m</small>
                                            </div>
                                            <div class="d-flex align-items-baseline">
                                                <i class="bi bi-bar-chart me-2"></i>
                                                <small>Beginner</small>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-baseline mt-3">
                                            <i class="bi bi-star-fill text-warning me-1"></i>
                                            <i class="bi bi-star-fill text-warning me-1"></i>
                                            <i class="bi bi-star-fill text-warning me-1"></i>
                                            <i class="bi bi-star text-warning me-1"></i>
                                            <i class="bi bi-star text-warning me-2"></i>
                                            <small>3.0 (1,600)</small>
                                        </div>
                                        <div class="d-flex align-items-baseline mt-3">
                                            <p class="mb-0 fw-bold">$550</p>
                                            <p class="mb-0 text-muted ms-2"><del>$700</del></p>
                                        </div>
                                    </div>
                                    <div class="expanded-content">
                                        <p class="mb-2">
                                            Learn the foundations of web development with this comprehensive HTML5 course.
                                        </p>
                                        <p class="text-muted">
                                            A perfect starting point for beginners in web design and development.
                                        </p>
                                    </div>
                                    <div class="d-flex align-items-center mt-3">
                                        <img src="../img/avatar-8.jpg" alt="Miston Wilson" class="rounded-circle me-2" width="30" height="30">
                                        <small class="me-auto">Miston Wilson</small>
                                        <div class="icon-wrapper">
                                            <i class="bi bi-bookmark"></i>
                                            <i class="bi bi-bookmark-fill"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Card 3 -->
                        <div class="col-6 col-md-3">
                            <div class="card shadow-sm border-0 hover-card">
                                <img src="../img/course-node.jpg" class="card-img-top" alt="Node.js Banner" />
                                <div class="card-body">
                                    <h5 class="card-title">Node.js</h5>
                                    <p class="card-text">Beginning Node.js, Express & MongoDB Development</p>
                                    <div class="default-content">
                                        <div class="d-flex align-items-baseline justify-content-between">
                                            <div class="d-flex align-items-baseline">
                                                <i class="bi bi-clock me-2"></i>
                                                <small>2h 00m</small>
                                            </div>
                                            <div class="d-flex align-items-baseline">
                                                <i class="bi bi-bar-chart me-2"></i>
                                                <small>Intermediate</small>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-baseline mt-3">
                                            <i class="bi bi-star-fill text-warning me-1"></i>
                                            <i class="bi bi-star-fill text-warning me-1"></i>
                                            <i class="bi bi-star-fill text-warning me-1"></i>
                                            <i class="bi bi-star-half text-warning me-1"></i>
                                            <i class="bi bi-star text-warning me-2"></i>
                                            <small>4.0 (15,700)</small>
                                        </div>
                                        <div class="d-flex align-items-baseline mt-3">
                                            <p class="mb-0 fw-bold">$800</p>
                                            <p class="mb-0 text-muted ms-2"><del>$950</del></p>
                                        </div>
                                    </div>
                                    <div class="expanded-content">
                                        <p class="mb-2">
                                            Begin your journey in backend development with Node.js, Express, and MongoDB.
                                        </p>
                                        <p class="text-muted">
                                            Gain hands-on experience in creating scalable server-side applications.
                                        </p>
                                    </div>
                                    <div class="d-flex align-items-center mt-3">
                                        <img src="../img/avatar-3.jpg" alt="Sina Ray" class="rounded-circle me-2" width="30" height="30">
                                        <small class="me-auto">Sina Ray</small>
                                        <div class="icon-wrapper">
                                            <i class="bi bi-bookmark"></i>
                                            <i class="bi bi-bookmark-fill"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Card 4 -->
                        <div class="col-6 col-md-3">
                            <div class="card shadow-sm border-0 hover-card">
                                <img src="../img/course-laravel.jpg" class="card-img-top" alt="Laravel Banner" />
                                <div class="card-body">
                                    <h5 class="card-title">Laravel</h5>
                                    <p class="card-text">Laravel: The Ultimate Beginner’s Guide to Learn</p>
                                    <div class="default-content">
                                        <div class="d-flex align-items-baseline justify-content-between">
                                            <div class="d-flex align-items-baseline">
                                                <i class="bi bi-clock me-2"></i>
                                                <small>1h 00m</small>
                                            </div>
                                            <div class="d-flex align-items-baseline">
                                                <i class="bi bi-bar-chart me-2"></i>
                                                <small>Beginner</small>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-baseline mt-3">
                                            <i class="bi bi-star-fill text-warning me-1"></i>
                                            <i class="bi bi-star-fill text-warning me-1"></i>
                                            <i class="bi bi-star-fill text-warning me-1"></i>
                                            <i class="bi bi-star-half text-warning me-1"></i>
                                            <i class="bi bi-star text-warning me-2"></i>
                                            <small>4.5 (2,500)</small>
                                        </div>
                                        <div class="d-flex align-items-baseline mt-3">
                                            <p class="mb-0 fw-bold">$170</p>
                                            <p class="mb-0 text-muted ms-2"><del>$220</del></p>
                                        </div>
                                    </div>
                                    <div class="expanded-content">
                                        <p class="mb-2">
                                            Get started with Laravel and master its tools to build robust web applications.
                                        </p>
                                        <p class="text-muted">
                                            Designed for beginners looking to understand MVC frameworks.
                                        </p>
                                    </div>
                                    <div class="d-flex align-items-center mt-3">
                                        <img src="../img/avatar-7.jpg" alt="Sobo Rikhan" class="rounded-circle me-2" width="30" height="30">
                                        <small class="me-auto">Sobo Rikhan</small>
                                        <div class="icon-wrapper">
                                            <i class="bi bi-bookmark"></i>
                                            <i class="bi bi-bookmark-fill"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Carousel Controls -->
            <button class="carousel-control-prev custom-carousel-control" type="button" data-bs-target="#recommendedCarousel" data-bs-slide="prev">
                <i class="bi-chevron-left"></i>
            </button>
            <button class="carousel-control-next custom-carousel-control" type="button" data-bs-target="#recommendedCarousel" data-bs-slide="next">
                <i class="bi-chevron-right"></i>
            </button>
        </div>
    </div>
</section>